* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
	/*задаем семейство шрифта для всей страницы*/
	scroll-behavior: smooth;
	/*этот значение позволяет плавно прокручивать страницу при нажатии по ссылке. оно понадобиться нам позже. применим ко всей странице сайта.*/
	overflow-x: hidden;
	/*убираем полосу прокрутки по горизонтали*/
}


/*Здесь мы убраем отступы и просветы у всех(*) элементов страницы, чтобы было легче работать. */

.menu {
	width: 100vw;
	/*выставляем 100% ширины, для шапки.*/
	height: 110px;
	/*высота согласно макету*/
	display: flex;
	/*так как вложены два блока, превращаем шапку во флекс*/
	flex-direction: row;
	/*расспологаем в линию*/
	justify-content: space-between;
	/*устанавливаем просвет между вложенными блоками*/
	align-items: center;
	/*расспологаем блоки по центру (по вертикальной прямой)*/
}

.logo h1 {
	display: flex;
	/*для легкого управления элементом, превращаем блок и его потомка во флекс*/
	margin-left: 80px;
	/*создаем отступ согласно макету*/
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
	color: #000000;
	/*оформляем текс согласно макету*/
}

.navigation {
	display: flex;
	/*в панели навигации !4 элемента. создаем флекс контейнер чтобы было легче управлять элементами*/
	flex-direction: row;
	/*расспологаем в линию*/
	justify-content: space-around;
	/*устанавливаем просвет между вложенными блоками*/
	margin-right: 80px;
	/*создаем отступ согласно макету*/
	width: 392px;
	/*Даем пространства, чтобы немного разрядить меню. согласно макету, ширина слов 51+57+47+99px. добавляем им расстояние 46+46+46. общая ширина меню получается 392px*/
}


.click {
	display: block;
	/* тег "а" - это строчный элемент. нужно превратить его в блочный*/
	text-decoration: none;
	/*убираем подчеркивание*/
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	/*создаем оформление для текта меню*/
	transition-duration: 0.5s;
	/*данное значение определяет сколько будет длиться анимация по времени. он будет работать как только примениться hover эффект*/
}

/*между шапкой и подвалом, мы имеем 4 условных секции, на которые можно разделить страницу для внятной семантики. далее работаем с секциями. <section> - это блочный элемент*/

.home {
	height: 622px;
	width: 100vw;
	/*задаем высоту секции и ширину равную экрану*/
	background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1920x1080");
	/*назначаем картинку фоном блока*/
	background-size: 100%;
	/*задаем размер картинки равной высоте и ширине родителя. изображение наследует размер блока, будет изменяться при изменении экрана. !делаем ее адаптивной*/
	background-position: center;
	/*размещаем картинку в центре*/
	background-repeat: no-repeat;
	/*отключаем повторение изображения*/
}


.bold_line {
	width: 5.56%;
	height: 1.6%;
	background-color: #817070;
	/* в макете ширина страницы 1440px, а ширина линии 80px. это примерно 5.56% в ширину и 1.6% в высоту от размера родителя. Сделаем ее адаптивной, задав это значение по одношению к родителю.*/
}


.cup {
	display: flex;
	/*в контейнере находяться два блока. для легкого выравнивания, превратив его во флекс*/
	height: inherit;
	width: inherit;
	/*теперь наш флекс блок унаследовал значения родителя*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*рассположим все блоки правильно*/
}

.cup_text {
	display: block;
	/*превращаем строчный элемент в блочный.*/
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	color: #FFFFFF;
	/*задаем стиль для текста на чашке "TAKE YOUR TIME"*/
}

.story {
	height: 632px;
	width: 100vw;
	/*задаем высоту секции и ширину равную экрану*/
}

.story_fx {
	display: flex;
	/*превращаем раздел во флекс*/
	height: inherit;
	width: inherit;
	/*теперь наш флекс блок унаследовал значения родителя*/
	justify-content: space-evenly;
	/*придаем блокам более разряженное значение*/
	align-items: center;
	/*выравниваем элементы по центру*/
	flex-direction: row;
	/*выстраиваем блоки в линию*/
	flex-wrap: wrap;
	/*задаем перенос блоков*/
}

.story_title {
	width: 100vw;
	/*так как блоки получили свойство переноситься, зададим для этого блока ширину, равную экрану. тогда этот блок займет все пространство и заставит остальные да перенестись ниже*/
	align-self: center;
	/*выравниваем блок по центру*/
	margin-top: 32px;
	/*зададим равное пространство согласно макету*/
	padding-left: 50%;
	padding-right: 50%;
	/*чтобы расположить текст в центре, добавим внутренний отстeп равный половине экрана*/
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	color: #000000;
	/*оформим текст согласно макету*/
}

.ledy_coffee {
	height: 400px;
	width: 600px;
	/*задаем размеры блока для картинки*/
	box-sizing: border-box;
	/*убираем границы с размера*/
	background-image: url("https://source.unsplash.com/X4RJG4aNi8o/1920x1080");
	/*назначаем картинку фоном блока*/
	background-size: cover;
	/*приказываем изображению уместиться в блоке*/
}

.text {
	display: block;
	/*это строчный элемент. надо превратить его в блок, чтобы использовать флексбокс*/
	width: 597px;
	height: 180px;
	/*дадим размер блоку согласно макету*/
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: #000000;
}

/*ниже здесь начинается блог. это самая сложная конструкция на странице. опишу подробнее*/

.blog {
	height: 711px;
	width: 100vw;
	/*задаем высоту секции и ширину равную экрану*/
	background: #EFEFEF;
	/*делаем фон серым*/
}

/*это общая секция, в которая является основным фоном.*/

.gallery {
	display: flex;
	/*превращаем раздел во флекс*/
	height: inherit;
	width: inherit;
	/*теперь наш флекс блок унаследовал значения родителя*/
	justify-content: space-evenly;
	/*придаем блокам более разряженное значение*/
	align-items: center;
	/*выравниваем элементы по центру*/
	flex-direction: row;
	/*выстраиваем блоки в линию*/
	flex-wrap: wrap;
	/*задаем перенос блоков*/
}

/*весь этот блок остается невидимым, но нужен чтобы правильно рассположить все карточки в галерее. пожтому мы превратили его во флексбокс и разпределили содержимое.*/

.blog_title {
	padding-left: 50%;
	padding-right: 50%;
	/*чтобы расположить текст в центре, добавим внутренний отстeп равный половине экрана. теперь этот блок займет все пространство и заставит остальные да перенестись ниже*/
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
	color: #000000;
	/*оформляем текст*/
	margin-top: 30px;
	/*центрируем согласно макету*/
}


.card {
	width: 365px;
	height: 474px;
	/*задаем размер согласно макету.*/
	background-color: #FFFFFF;
	/*задаем цвет фона*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/*так как у нас внутри карточки присутствуют три элемента, мы также превратим ее во флексбокс, чтобы расспределить сожержимое равномерно. выравниваем согласно макету*/
	/*также этот контейнер понадобиться нам для создания анимации*/
	transition-duration: 0.8s;
}

.card_name {
	display: block;
	align-self: flex-start;
	margin-left: 20px;
	/*загловок карточки оказался в середине. чтобы сдвинуть его согласно макету, выравниваем его по началу флексбокса, и задаем отступ согласно макету.*/
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: #000000;
	/*оформляем текст*/
}

.card_foto {
	width: 325px;
	height: 216px;
	/*задаем размер блока согласно макету.*/
	box-sizing: border-box;
	/*убираем границы с размера*/
	margin-left: auto;
	margin-right: auto;
	/*выравниваем в центре*/
	/*такие теги как </figure> и </figcaption> нужны для создания галереи. если говорить просто - чтобы можно было привязать описание к изображению и сделать его одним целым.*/
}

.foto {
	height: 100%;
	width: 100%;
	/*чтобы изображение не выходило за пределы блока, зададим ему размер равный 100% от родителя.*/
}

.card_text {
	width: 325px;
	height: 108px;
	/*задаем размер блока согласно макету.*/
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	color: #000000;
	/*оформляем текст*/
	margin-left: auto;
	margin-right: auto;
	/*выравниваем в центре*/
}

/*здесь начинается вебформа для отправки*/
.subs {
	width: 100vw;
	height: 337px;
	/*задаем высоту секции и ширину равную экрану*/
	background: #817070;
	/*делаем фон серым*/
	display: flex;
	/*в поддоне мало элементов, поэтому сразу превратим его во флекс*/
	flex-direction: column;
	/*выстраиваем объекты в колонку*/
	justify-content: center;
	/*расспологаем их в центре по вертикали флексбокса*/
}

.subs_title {
	margin-left: auto;
	margin-right: auto;
	/*выстраиваем элемент в центре по горизонтали флексбокса.*/
	padding-bottom: 28px;
	/*задаем отступ согласно макету*/
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	/*оформляем текст*/
}

.subs_form {
	margin-left: auto;
	margin-right: auto;
	/*выстраиваем элемент в центре по горизонтали флексбокса.*/
	display: flex;
	/*форма состоит из двух элементов (кнопка и поле ввода). превратим их также во флекс*/
	flex-direction: column;
	/*и выстроим в колонну по вертикали*/
}


.input {
	/*поле ввода - это блочный элемент*/
	width: 300px;
	height: 55px;
	/* задаем размер поля ввода согласно макету */
	background: #817070;
	/*фон согласно макету*/
	border: 3px solid #FFFFFF;
	/* границы поля ввода */
	margin-bottom: 28px;
	/*внешний отступ снизу согалсно макету*/
	color: #FFFFFF;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	/*оформляем текст который БУДЕТ введен.*/
}

.input::placeholder {
	/*чтобы обратиться к "тексту подсказке", подтрубуется использовать селектор псевдоэлемента. так мы обращаемся напрямую к эелементу, который яволяется неотемлемой составляющей всего элемента. В нашем случае это текст подсказка.*/
	color: #FFFFFF;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	/*оформляем текст подсказку*/
}

.input:focus {
	/*чтобы вводимый нами текст "красивый", подтрубуется использовать селектор псевдокласса. так мы обращаемся напрямую к эелементу, который яволяется неотемлемой составляющей всего элемента. В нашем случае это - вводимый текст.*/
	color: #FFFFFF;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	/*оформляем вводимый текст*/
}

.button {
	align-self: center;
	width: 129px;
	height: 55px;
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #817070;
	/*для оформления кнопки используем стандартный набор значений. для самого блока и для текста.*/
}

/*Далее следует поддон сайта*/

.footer_main {
	width: 100vw;
	height: 73px;
	/*задаем высоту секции и ширину равную экрану*/
	/*согласно макету, высота блока с текстом 30px, расстояние от блока до нижней и верхней границы 14px и 29px. и того 73px*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*снова используем превращение во флексбокс и выравнивание*/
}

.copyright {
	margin-left: auto;
	margin-right: auto;
	/*выстраиваем элемент в центре по горизонтали флексбокса.*/
	width: 147px;
	height: 30px;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	color: #000000;
}

/*Приминяем hover эфекты и задаем анимацию*/

.click:hover {
	font-weight: 500;
	font-size: 36px;
	color: #817070;
	/*придадим тексту оформление, которое будет применено после наведениия на него мышью.*/
}

.card:hover {
	transform: rotate(-18deg) scale(1.5);
	/*данное значение определяет - как именно будет меняться элемент при наведении. в нашем случае поворот против часовой стрелки (-18deg) на 18 градусов, и увеличим в 1,5 раза.*/
	transition-duration: 0.8s;
	/*данное значение определяет сколько будет длиться анимация по времени. он будет работать как только примениться hover эффект*/
}